img {
  max-width: 80%;
  height: auto;
}
p{
  max-width: 80%; 
  margin-left: auto;
  margin-right: auto;
  
}
figcaption {
  color: #808080; 
  max-width: 80%; 
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

ul{
    max-width: 80%; 
  margin-left: auto;
  margin-right: auto;
}
ol{
    max-width: 80%; 
  margin-left: auto;
  margin-right: auto;
}